header {
    padding: 150px 0 150px;
    margin-top: -180px;
    background-color: #3E3E42;
    /* background-image: url(../image/logo/gambar.jpg);
    background-size: cover; */
    height: 700px;
  }
  